
<div class="d-flex flex-column flex-md-row align-items-center pb-1.5 mb-4 border-bottom">
  <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
    <app-header></app-header>
  </a>

  <nav class="d-inline-flex align-items-center mt-2 mt-md-0 ms-md-auto">
    <a class="me-3 py-2 text-dark text-decoration-none" href="#">Vitrine</a>
    <a class="me-3 py-2 text-dark text-decoration-none" href="#">Promoções</a>
    <a class="me-3 py-2 text-dark text-decoration-none" href="#">Contato</a>
    <a class="me-3 py-2 text-dark text-decoration-none" href="#">
      <button class="btn btn-">
        <fa-icon [icon]="basketIcon" class=" text-primary fa-xl"></fa-icon><span class="badge text-dark text-bg-light">3</span>
      </button>
    </a>
  </nav>
  <a class="btn btn-outline-primary m-2" href="#">Sign Up</a>
</div>

