<div class="container d-flex ">
  <div class="card shadow-sm m-1">
    <img class="bd-placeholder-img card-img-top" src='../../../../../assets/images/img3.jpg'>
    <div class="card-body">
      <p class="card-text">Lupin</p>
      <p class="card-text">Drama - Ficção</p>
      <div class="d-flex align-items-center justify-content-center">
        <button class="btn btn-sm h-25 w-25">-</button><p class="card-text m-2">1</p><button class="btn btn-sm h-25 w-25">+</button>
      </div>
      <p class="card-text">{{30 | currency:'BRL'}}</p>

      <div class="btn-group ">
        <button type="button" class="btn btn-primary btn-sm">Comprar</button>
        <button type="button" class="btn btn-outline-primary btn-sm">Detalhes</button>
      </div>
    </div>
  </div>
  <div class="card shadow-sm m-1">
    <img class="bd-placeholder-img card-img-top" src='../../../../../assets/images/img2.jpg'>
    <div class="card-body">
      <p class="card-text">O Mundo de Sophia</p>
      <p class="card-text">Romance - Filosofia</p>
      <div class="d-flex align-items-center justify-content-center">
        <button class="btn btn-sm h-25 w-25">-</button><p class="card-text m-2">1</p><button class="btn btn-sm h-25 w-25">+</button>
      </div>
      <p class="card-text">{{25 | currency:'BRL'}}</p>

      <div class="btn-group">
        <button type="button" class="btn btn-primary btn-sm">Comprar</button>
        <button type="button" class="btn btn-outline-primary btn-sm">Detalhes</button>
      </div>
    </div>
  </div>
  <div class="card shadow-sm m-1">
    <img class="bd-placeholder-img card-img-top"src='../../../../../assets/images/img1.jpg'>
    <div class="card-body">
      <p class="card-text">Box - Sherlock Holmes</p>
      <p class="card-text">Policial - Ficção</p>
      <div class="d-flex align-items-center justify-content-center">
        <button class="btn btn-sm h-25 w-25">-</button><p class="card-text m-2">1</p><button class="btn btn-sm h-25 w-25">+</button>
      </div>
      <p class="card-text">{{ 75 | currency:'BRL'}}</p>

      <div class="btn-group">
        <button type="button" class="btn btn-primary btn-sm">Comprar</button>
        <button type="button" class="btn btn-outline-primary btn-sm">Detalhes</button>
      </div>
    </div>
  </div>
</div>
